setuptools==39.1.0
Pillow==8.0.1
Flask
Flask-Login
Flask-SSLify
boto3
opencv-python
imutils
psycopg2-binary
scikit-image
scikit-learn
werkzeug
pandas
lxml==4.5.1
google
protobuf
gputil
tensorflow==1.14.0
Markdown==3.1
MarkupSafe==1.1.1
matplotlib==3.0.3
requests==2.22.0
wheel==0.33.1
astor
gunicorn==20.0.4
