setuptools==39.1.0
Pillow>=1.0
six
pyopenssl
Flask
Flask-Login
Flask-SSLify
nexmo
paramiko
google-cloud-vision
cryptography
boto3
boto
numpy==1.16.4
opencv-python
googletrans
PyMySQL
imutils
psycopg2-binary
scikit-image
apscheduler
werkzeug
chainer
pandas
moviepy
lxml==4.5.1
google
protobuf
gputil
tensorflow==1.14.0
Markdown==3.1
MarkupSafe==1.1.1
docutils==0.14
filelock==3.0.10
matplotlib==3.0.3
requests==2.21.0
urllib3==1.24
wheel==0.33.1
astor
imageio==2.5
colormath
sklearn
gunicorn
